<div class="schedule">
  <div>
    <%= image_tag "logo-NTT-white.png", class: "logo" %>
    <h2 class="schedule-header"> Upcoming </h2>
  </div>

  <%= render "upcoming" %>

  <div>
    <%= image_tag "logo-NTT-white.png", class: "logo" %>
    <h2 class="schedule-header"> Full schedule </h2>
  </div>

  <div class="event-place-hall">
    <div class="event-group">
      <div class="event-timeframe">
        09:00 - 09:30
      </div>

      <div class="event-title">
        Registration
      </div>
    </div>

    <div class="event-group">
      <div class="event-timeframe">
        09:30 - 09:50
      </div>

      <div class="event-title">
        Opening Keynote

        <div class="event-presenter">
          Mateusz Czajka
        </div>
      </div>
    </div>
  </div>


  <div class="morning">
    <div class="event-place-main">
      <%= render "schedule/main_stage/morning" %>
    </div>

    <div class="event-place-workshops">
      <%= render "schedule/workshops/morning" %>
    </div>
  </div>

  <div class="event-place-hall">
    <div class="event-group">
      <div class="event-timeframe">
        13:00 - 14:00
      </div>

      <div class="event-title">
        Lunch break
      </div>
    </div>
  </div>

  <div class="afternoon">
    <div class="event-place-main">
      <%= render "schedule/main_stage/afternoon" %>
    </div>

    <div class="event-place-workshops">
      <%= render "schedule/workshops/afternoon" %>
    </div>
  </div>

  <div class="event-place-hall">
    <div class="event-group">
      <div class="event-timeframe">
        17:00 - 17:20
      </div>

      <div class="event-title">
        Lightning talks
      </div>
    </div>

    <div class="event-group">
      <div class="event-timeframe">
        17:20-17:30
      </div>

      <div class="event-title">
        Closing keynote
      </div>
    </div>
  </div>
</div>
